# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# qwertyquerty
/code/modules/collision @qwertyquerty

# Bokkiewokkie
/SQL/ @Bokkiewokkie
/SQL/database_changelog.txt @Bokkiewokkie

# Management Teams
/_maps/ @BeeStation/nsv-mapping

# Multiple Owners
/config @covertcorvid @Bokkiewokkie

/code/__DEFINES/MC.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/__DEFINES/tick.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/admin.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/master.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/failsafe.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem/dbcore.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem/timer.dm @Bokkiewokkie @covertcorvid @Karmic-Skink

.dockerignore @Bokkiewokkie @covertcorvid @Karmic-Skink
.github @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/_compile_options.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/modules/tgs @Bokkiewokkie @covertcorvid @Karmic-Skink
dependencies.sh @Bokkiewokkie @covertcorvid @Karmic-Skink
Dockerfile @Bokkiewokkie @covertcorvid @Karmic-Skink
/tools @Bokkiewokkie @Kmc2000 @covertcorvid @Karmic-Skink
