# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Francinum

/SQL/ @francinum
/SQL/database_changelog.txt @francinum
/config @francinum
/code/__DEFINES/MC.dm @francinum
/code/__DEFINES/tick.dm @francinum
/code/controllers/admin.dm @francinum
/code/controllers/master.dm @francinum
/code/controllers/failsafe.dm @francinum
/code/controllers/subsystem.dm @francinum
/code/controllers/subsystem/dbcore.dm @francinum
/code/controllers/subsystem/timer.dm @francinum

# Vasily2013

/_maps/ @Vasily2013
