div#mapContainer
  position: relative
  width: 100%
  height: 600px
  overflow: hidden
  border: 1px solid #40628a
div#mapDraggable
  position: relative
  width: 1200px
  height: 1200px
  margin: 100px
div#planetMap
  position: relative
  width: 600px
  height: 600px
  margin: auto
  overflow: hidden
  border: 1px solid #40628a
div#rangeCircle
  position:absolute
  border-radius: 50%
  border: 2px solid #336600
  width: 480px
  height: 480px
  margin-bottom: -240px
  margin-left: -240px
.star_marker
  display: inline-block
  padding: 0px 5px 0px 5px
  color: rgba(0,0,0,0)
  line-height: 25px
  width: 25px
  height: 25px
  margin-left: -12px
  margin-bottom: -12px
  border-radius: 50%
  z-index: 2
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,                          rgba(255,255,255,1) 20%,rgba(255,255,255,0.71) 40%,rgba(255,255,255,0) 60%)
.star_marker_unvisited_solgov
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,                          rgba(255,255,255,1) 20%,rgba(255,255,255,0.71) 40%,rgba(255,255,255,0) 60%)
.star_marker_unvisited_syndicate
  background: radial-gradient(ellipse at center, rgba(163,0,0,1)     0%,                          rgba(163,0,0,1)     20%,rgba(163,0,0,0.71)     40%,rgba(163,0,0,0)     60%)
.star_marker_unvisited_unaligned
  background: radial-gradient(ellipse at center, rgba(166,99,0,1)    0%,                          rgba(166,99,0,1)    20%,rgba(166,99,0,0.71)    40%,rgba(166,99,0,0)    60%)
.star_marker_unvisited_nanotrasen
  background: radial-gradient(ellipse at center, rgba(25,58,122,1)   0%,                          rgba(25,58,122,1)   20%,rgba(25,58,122,0.71)   40%,rgba(25,58,122,0)   60%)
.star_marker_visited_solgov
  background: radial-gradient(ellipse at center, rgba(64,0,128,1)    0%, rgba(64,0,128,1)    19%, rgba(255,255,255,1) 20%,rgba(255,255,255,0.71) 40%,rgba(255,255,255,0) 60%)
.star_marker_visited_syndicate
  background: radial-gradient(ellipse at center, rgba(64,0,128,1)    0%, rgba(64,0,128,1)    19%, rgba(163,0,0,1)     20%,rgba(163,0,0,0.71)     40%,rgba(163,0,0,0)     60%)
.star_marker_visited_unaligned
  background: radial-gradient(ellipse at center, rgba(64,0,128,1)    0%, rgba(64,0,128,1)    19%, rgba(166,99,0,1)    20%,rgba(166,99,0,0.71)    40%,rgba(166,99,0,0)    60%)
.star_marker_visited_nanotrasen
  background: radial-gradient(ellipse at center, rgba(64,0,128,1)    0%, rgba(64,0,128,1)    19%, rgba(25,58,122,1)   20%,rgba(25,58,122,0.71)   40%,rgba(25,58,122,0)   60%)
.star_marker_outline_green
  border: 1px solid #008000
.star_marker_outline_yellow
  border: 1px solid #A66300
.star_marker_outline_red
  border: 1px solid #A30000
.star_marker_outline_blue
  border: 1px solid #193A7A
.planet_marker
  display: inline-block
  padding: 0px 5px 0px 5px
  color: rgba(0,0,0,0)
  line-height: 25px
  width: 25px
  height: 25px
  margin-left: -12px
  margin-bottom: -12px
  border-radius: 50%
.planet_icon
  position:absolute
  left:50%
  margin-left:-16px
  top:50%
  margin-top:-16px
  width:32px
  height:32px
.orbitCircle
  position: absolute
  border-radius: 50%
  border: 1px solid white
  left: 300px
  bottom: 300px
.bgholder
  background: data-url('space.png')
.line
  background-color: #221111
  border-color: #221111
  position: absolute
  height: 1px
  transform-origin: center left
  z-index: -1

span.star_label
  position: relative;
  color: white;
  white-space: nowrap;
  left: 5px
  bottom: -25px
  p
    position: absolute;
    left: 50%;
    transform: translate(-50%, -15px);
    text-shadow: 1px 1px 0px cyan;